* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-display: optional;
}

li {
  list-style: none;
}

.container {
  width: 360px;
  max-width: 90%;
}

.App-header {
  background-color: red;
  color: white;
  text-align: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-size-control {
  width: 330px;
}

.search {
  margin: 1em;
}

.card {
  padding: 1em;
  margin: 1em auto;
}

.btn {
  border: none;
}

.thumb {
  font-size: 1.5rem;
  color: red;
}

.submit {
  border: solid 2px red;
  color: red;
  font-weight: bolder;
}

.rating-section-styling {
  display: flex;
  justify-content: center;
  align-items: center;
}