* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

li {
  list-style: none;
}

.container {
  width: 360px;
  max-width: 90%;
}

.App-header {
  background-color: red;
  color: white;
  text-align: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  width: 330px;
}

.search {
  margin: 1em;
}

.card-display {
  padding: 1em;
  margin: 1em auto;
}

.btn {
  border: none;
}

.thumb {
  font-size: medium;
  color: red;
}

.delete {
  background-color: red;
  color: white;
}